# FILE SYSTEM
.DS_Store
**/.DS_Store

# BUILD
node_modules/
out/
resources/vendor/
.vscode-test/
*.vsix
/package.nls*.json

# AI AGENTS
.cursorrules
.clinerules
.windsurfrules
.github/copilot-instructions.md
.agents/
.gemini/
.claude/
.cline/
.codex/
.cursor/
PROMPT.md
INSTRUCTIONS.md
AGENTS.md
CLAUDE.md
GEMINI.md

# PROJECT FILES
issues/
tasks/
checklist/
