.DS_Store
**/.DS_Store

.vscode/**
.vscode-test/**
node_modules/**
out/**
!out/extension.js
.gitignore
.gitattributes
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
scripts/**
**/*.map
**/*.ts

src/**
test/**
*.vsix

CHANGELOG.md
WIKI.md
TASKS.md
REVIEW.md
